<div class="slide1">
    <div class="outer">
        <div class="bottom">
            <div class="inner">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="col-12">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                            <div class="mb_main_carousel w-70">
                                                <div class="row">
                                                <div class="col-12 txt-center mb-5">
                                                    <h2 class="slider_title">'홍대'의 버스킹</h2>
                                                </div>
                                                    <div class="col-xl-6 col-12 txt-right">
                                                        <iframe width="450" height="240" src="https://www.youtube.com/embed/VYOjWnS4cMY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </div>
                                                    <div class="col-xl-6 col-12 txt-center">
                                                        아티스트 | 시간
                                                </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="mb_main_carousel w-70">
                                            <div class="row">
                                                <div class="col-12 txt-center">
                                                    <h2>'신촌'의 버스킹</h2>
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    사진
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    시간
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    아티스트
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="mb_main_carousel w-70">
                                        <div class="row">
                                                <div class="col-12 txt-center">
                                                    <h2>'강남'의 버스킹</h2>
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    사진
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    시간
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    아티스트
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="mb_main_carousel w-70">
                                        <div class="row">
                                                <div class="col-12 txt-center">
                                                    <h2>'한강'의 버스킹</h2>
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    사진
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    시간
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    아티스트
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="mb_main_carousel w-70">
                                        <div class="row">
                                                <div class="col-12 txt-center">
                                                    <h2>'이태원'의 버스킹</h2>
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    사진
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    시간
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    아티스트
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="mb_main_carousel w-70">
                                        <div class="row">
                                                <div class="col-12 txt-center">
                                                    <h2>'건대'의 버스킹</h2>
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    사진
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    시간
                                                </div>
                                                    <div class="col-12 txt-center">
                                                    아티스트
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                    </a>
                            </div>
                        <div class="col-12">
                            <button class="btn mb_main_button b_sha_blue">
                                버스킹 정보 더 알아보기
                            </button>
                        </div>
                        <div class="col-12">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    </ol>
                        </div>
                    <p data-edit="true" data-selector="p" class=""></p>
                    </div>
            </div>
        </div>
    </div>
</div>