.w-70_slide3{
        width : 70%!important;
        margin:auto;
    }
	.Ractangle-4 {
		background-color: #eff4f6;
	}

    .mb_slide3_title{
        font-family: 'Nanum Square', sans-serif;
        font-size: 40px;
        text-align: center;
        color: #009bfc;
        font-weight:300;
    }
    .mb_slide3_title_sub{
        font-size : 18px;
        color : #626262;
    }
    .mb_main_slide3_container{
        background : white;
        margin: auto;
        width: 165px;
        height: 165px;
        border-radius: 95px;
        margin-bottom: 30px;
        position:relative;
    }
    .mb_slide3_icons{
        width : 45%;
        margin-top : 25%
    }
    .mb_main_slide3_text{
        font-size : 20px;
        font-weight : bolder;
    }
    .slide3_sub_text{
        margin-top : 5px;
        color : #626262;
        font-size : 14px;
    }

@media (max-width: 780px) {
            .mb_slide3_title{
                font-size : 30px;
            }
            .mb_main_slide3_container {
                width: 130px;
                height: 130px;
                border-radius: 65px;
            }

            .mb_slide3_title_sub{
                font-size : 15px;
            }

            .mb_main_slide3_text{
                font-size : 18px;
                margin-bottom : 5px;
        }
        .mb_main_carousel img {
            width: 100%;
        }
    }
    @media (max-width: 578px){
            .w-70_slide3{
                width : 100%!important;
                margin:auto;
            }
    }
