{% load static %}
<div class="row Ractangle-4">
    <div class="col-12 mb_slide3_title pt-5">
        <div class="upper_sm_line line_blue"></div>
        <div class="upper_bg_line line_blue"></div>
        콘서트 못지 않은<br>버스킹을 찾아드립니다!
    </div>
        <div class="container mb_slide3_title_sub txt-center mb_txt_pre pt-3 pb-5">
    SNS 영상 조회수 100만이 넘어가는
    멋진 아티스트부터,<br>떠오르는 실력파까지 부담없이 만나
    큰 즐거움을 안겨주는 버스킹!</div>
    <div class="col-12">
        <div class="row container w-70_slide3 txt-center pb-5">
        <div class="col-xl-3 col-12">
            <div class="row">
                <div class="col-xl-12 col-4 mb_pd_0">
                    <div class="mb_main_slide3_container">
                        <img class="mb_slide3_icons" src="{% static "images/slide3_1.png" %}">
                    </div>
                </div>
                <div class="col-xl-12 col-8 outer">
                    <span class="mb_main_slide3_text">버스킹 정보 확인</span>
                    <p class="slide3_sub_text">내 주변에 있을 핫한 아티스트의
                        버스킹 정보를 확인하세요!</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <div class="row">
                <div class="col-xl-12 col-4 mb_pd_0">
                    <div class="mb_main_slide3_container">
                        <img class="mb_slide3_icons" src="{% static "images/slide3_2.png" %}">
                    </div>
                </div>
                <div class="col-xl-12 col-8 outer">
                    <span class="mb_main_slide3_text">버스킹 관람</span>
                    <p class="slide3_sub_text">멋진 공연을<br>즐겁게 관람해 보세요.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <div class="row">
                <div class="col-xl-12 col-4  mb_pd_0">
                    <div class="mb_main_slide3_container">
                    <img class="mb_slide3_icons" src="{% static "images/slide3_3.png" %}">
                </div>
                </div>
                <div class="col-xl-12 col-8 outer">
                    <span class="mb_main_slide3_text">후기작성</span>
                <p class="slide3_sub_text">내가 본 버스킹의<br>
    후기를 작성해 주세요!</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <div class="row">
                <div class="col-xl-12 col-4 mb_pd_0">
                    <div class="mb_main_slide3_container">
                    <img class="mb_slide3_icons" src="{% static "images/slide3_4.png" %}">
                </div>
                </div>
                <div class="col-xl-12 col-8 outer">
                    <span class="mb_main_slide3_text">아티스트 후원</span>
                <p class="slide3_sub_text mb_txt_pre">멋진 공연을 보셨나요?
아티스트에게 후원을
전해주세요!!</p>
                </div>
            </div>
        </div>
        <div class="col-12 txt-center pt-5 pb-5">
            <a href="{% url "user_create" %}?usertype=1">
                <button class="btn mb_main_button b_sha_gray">
                    마이버스커 회원가입하기
                </button>
            </a>
        </div>
        </div>
    </div>
</div>