{% load static %}
<div class="recommend">
    <div class="row">
        <div class="col-12 pb-3 txt-center mb_slide2_title">
            <div class="upper_sm_line line_blue"></div>
            <div class="upper_bg_line line_blue"></div>
            멋진 버스킹을 보셨나요?
        </div>
        <div class="col-12 txt-center mb_slide2_title_sub txt-pre mb-3">아티스트에게 응원의 말과, 후원을 전해보세요
아티스트의 감사 인사, 그리고 선물이 기다립니다!
        </div>
        <div class="col-12">
            <div class="mb_main_slide2_container">
                <div class="row mb-5">
                    <div class="col-sm txt-center rec_review">
                        <p class="rec_btn_label">길가다가 봤는데 너무 멋졌다면!</p>
                        <button type="button" data-toggle="modal" data-target="#main_recommend_modal" class="btn mb_main_button rec_btn"><img src="{% static "images/btn1@2x.png" %}" style="width : 24px; height : 24px"> 후기쓰기</button>
                    </div>
                    <div class="col-sm txt-center rec_payment">
                        <p class="rec_btn_label">돈이 아깝지 않은 버스킹이었다면!</p>
                        <button type="button" data-toggle="modal" data-target="#main_recommend_modal" class="btn mb_main_button rec_btn"><img src="{% static "images/btn2@2x.png" %}" style="width : 24px; height : 24px;"> 후원하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="main_recommend_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="modal-title" id="exampleModalLabel">아티스트를 선택해 주세요</a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        당신의 후원과 후기를 기다리는<br>
        아티스트를 먼저 선택해 주세요!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <a class="txt-white" href="{% url "artist_list" %}"><button type="button" class="btn btn-primary">아티스트 선택하러 가기</button></a>
      </div>
    </div>
  </div>
</div>