{% extends "base/base.html" %}
{% load static bootstrap4 %}

{% block nav %}
{% endblock %}
{% block content %}
<div class="Signup_2 row">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <form id="artist_create" class="row mb-5 form-group" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- 로고는 홈으로 연결 -->
                    <div class="col-12 Signup-title">
                        <a href="{% url "website:home" %}"><img src="{% static "images/logo-color.png" %}"></a>
                    </div>
                    <label for="id_name" class="txt-black">아티스트 이름</label><br>
                    {% bootstrap_field form.name form_group_class='col-12 p-0' show_label=False placeholder='아티스트 이름' %}
                    <label for="id_description" class="txt-black">간단한 소개</label><br>
                    {% bootstrap_field form.description  form_group_class='col-12 p-0' show_label=False placeholder='간단한 소개' %}
                    <label for="id_image" class="txt-black">사진 (최대 5장)<small> 각 사진 아래의 업로드 버튼을 눌러주세요</small></label><br>
                    <div class="col-12 p-0 w-100 txt-black mb-2 is-invalid">
                        <div class="row bootstrap4-multi-input mb-4">
                            <div class="col-12">
                                <input type="file" name="image" multiple class="is-invalid" required id="id_image">
                            </div>
                        </div>
                    </div>
                    <label for="id_movie_1" class="txt-black">영상(1개 이상 필수)<small> (Youtube 영상 우클릭 후 '동영상 url 복사')</small></label><br>
                    {% bootstrap_field form.movie_1 form_group_class='col-12 p-0' show_label=False placeholder='youtube 영상주소 1' %}
                    {% bootstrap_field form.movie_2 form_group_class='col-12 p-0' show_label=False placeholder='youtube 영상주소 2' %}
                    {% bootstrap_field form.movie_3 form_group_class='col-12 p-0' show_label=False placeholder='youtube 영상주소 3' %}


                    <label for="id_social_fb" class="txt-black">SNS 주소<small> ex)www.facebook.com/Mybusker</small></label><br>
                    {% bootstrap_field form.social_fb form_group_class='col-12 p-0' show_label=False placeholder='페이스북' %}
                    {% bootstrap_field form.social_youtube form_group_class='col-12 p-0' show_label=False placeholder='유튜브' %}
                    {% bootstrap_field form.social_insta form_group_class='col-12 p-0' show_label=False placeholder='인스타그램' %}
                    <input type="hidden" name="image_count" id="id_image_count">

                    <div class="Signup_submit">
                    <input type="submit" value="회원가입하기" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block extrajs %}
<script>
    $('.form-control').addClass('Signup_form mb-4');
    $('#id_movie_1').removeClass('mb-4');
    $('#id_movie_2').removeClass('mb-4');
    $('#id_social_fb').removeClass('mb-4');
    $('#id_social_youtube').removeClass('mb-4');
    $("#id_image").fileinput({
        uploadUrl: '{% url "artist_image_temp" %}',
        uploadExtraData: {user_id: {{ request.user.id }}},
        required: true,
        showUpload: false,
        msgFilerequired: '사진을 선택해주세요',
        minFileCount: 1,
        maxFileCount: 5,
        msgFilesTooLess: '최소한 {n}장의 사진을 등록해야 합니다.',
        msgFilesTooMany: '사진이 {n}장 선택되었습니다. 사진은 최대 {m}장 까지 등록가능합니다.',
        allowedFileTypes: ['image'],
        msgInvalidFileType: '이미지 파일만 등록할 수 있습니다.',
    });
    $(function(){
        $("input[type='submit']").click(function(e){
            e.preventDefault();
            var $fileUpload = $("input[type='file']");
            var movie_1 = $("input[name='movie_1']").val();
            var movie_2 = $("input[name='movie_2']").val();
            var movie_3 = $("input[name='movie_3']").val();
            var image_count = ($('button[title="View Details"]').length)/2;
            console.log(image_count);
            $('#id_image_count').val(($('button[title="View Details"]').length)/2);

            if (image_count>5 || image_count<1){
                alert("사진은 1장이상, 최대 5장까지 등록할 수 있습니다.");
            }
            if (!movie_1 && !movie_2 && !movie_3){
                alert("영상 주소를 1개이상 등록해 주세요.");
            }
            if(image_count>=1 && image_count <=5 && (movie_1 || movie_2 || movie_3)){
                $('button[title="Upload file"]').click();
                while (true){
                    if(!$('button[title="Not uploaded yet"]').length){
                        break;
                    }
                }
                $('#artist_create').submit();
            }
        });    
    });
</script>
{% endblock %}