{% extends "base/base.html" %}
{% load static %}

{% block nav %}
{% endblock %}
{% block content %}
<div class="Signup_choice row">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="row mb-5">
                    <!-- 로고는 홈으로 연결 -->
                    <div class="col-12 Signup-title">
                        <a href="{% url "website:home" %}"><img src="{% static "images/logo-color.png" %}"></a>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="Signup-audience">
                            <a href="{% url "user_create" %}?usertype=1"><div class="outer Signup-caption">관객(일반) 회원가입</div></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="Signup-artist">
                            <a href="{% url "user_create" %}?usertype=2"><div class="outer Signup-caption">아티스트 회원가입</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}