<div class="footer">
    <div class="container pt-3 pb-3 row mr-auto ml-auto">
        <div class="col-md-6 col-12">
        <a href="{% url "website:term_access" %}" target="_blank">이용약관</a> | <a href="{% url "website:term_information" %}" target="_blank">개인정보처리방침</a> | <a href="#">사업자정보</a>
        </div>
        <div class="col-md-6 col-12">
            <div class="txt-right">
                <i class="fab fa-twitter fa-lg ml-2"></i>
                <i class="fab fa-facebook-f fa-lg ml-2"></i>
                <i class="fab fa-youtube fa-lg ml-2"></i>
            </div>
        </div>
    </div>
</div>