<div class="footer">
    <div class="container pt-3 pb-3 row mr-auto ml-auto">
        <div class="col-md-6 col-12">
        <a href="{% url "website:term_access" %}" target="_blank">이용약관</a> | <a href="{% url "website:term_information" %}" target="_blank">개인정보처리방침</a>
        </div>
        <div class="col-md-6 col-12">
            <!--
            <div class="txt-right">
                <a class="fab fa-twitter fa-lg ml-2"></a>
                <a class="fab fa-facebook-f fa-lg ml-2"></a>
                <a class="fab fa-youtube fa-lg ml-2"></a>
            </div>
            -->
        </div>
        <div class="col-12 footer-business-info ">
            마이비(MyB) | 대표: 강구헌 | 서울특별시 관악구 관악로 1, 58동 438호 창업실습실<br>
            사업자 번호 : 481-06-01160 | 통신판매업 : 2018-서울관악-0833
        </div>
    </div>
</div>