{% load static %}
<div style="position: fixed; z-index: 100; width: 100%;" class="navi-bg">
    <nav class="navbar navbar-expand navbar-dark navi container pt-3 pb-3">
        <a class="navbar-brand" href="{% url "website:home" %}">
            <img src="{% static "images/logo.png" %}" height="32" class="d-inline-block align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">버스킹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "artist_list" %}">아티스트</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">고객센터</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="nav">
                <li class="nav-item">
                    <form class="nav-search-form" method="get" action="">
                        <input class="nav-search" type="text" name="q">
                        <button class="nav-search-btn"><img src="{% static "images/search.png" %}" width="16px"></button>
                    </form>
                </li>
            </div> 
            <li class="nav nav-item dropdown">
                <a class="nav-link dropdown-toggle text-sm text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ request.user.nickname }}님
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "profile" %}">마이페이지</a>
                    <a class="dropdown-item" href="{% url "logout" %}?next={{ request.path }}">로그아웃</a>
                </div>
            </li>

            {% else %}
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <form class="nav-search-form" method="get" action="">
                        <input class="nav-search" type="text" name="q">
                        <button class="nav-search-btn"><img src="{% static "images/search.png" %}" width="16px"></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link auth" href="{% url "login" %}?next={{ request.path }}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link auth" href="{% url "user_create_choice" %}">회원가입</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</div>
    