{% load static %}
<nav class="navbar navbar-expand-xl navbar-dark navi-mobile navi-bg w-100">
    <div class="navi-group">
        <button class="navbar-toggler menu" type="button" data-toggle="collapse" data-target="#nav_mobile" aria-controls="nav_mobile" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{% static "images/hamburger@2x.png" %}" width="40px">
        </button>
        <a class="logo" href="{% url "website:home" %}">
            <img src="{% static "images/logo@2x.png" %}" height="50px" style="margin-top : -5px">
        </a>
        <a class="search" href="#" id="search_btn">
            <img src="{% static "images/search@2x.png" %}" width="40px">
        </a>
    </div>
    <div id="search_body">
        <form class="row nav-search-form mb-3" method="get" action="{% url "website:search_list" %}">
            <input class="col-10 nav-search" type="text" name="q">
            <button class="col-2 nav-search-btn"><img class="p-0" src="{% static "images/search.png" %}" width="16"></button>
        </form>
    </div>
    <div class="collapse navbar-collapse" id="nav_mobile">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "concert:concert_list" %}">버스킹</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "artist_list" %}">아티스트</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "website:cs_create" %}">고객센터</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "concert_post:concert_post_list" %}">Live! 공연게시판</a>
            </li>
            {% if request.user.usertype == 2 %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "concert:concert_create" %}">공연 등록</a>
            </li>
            {% endif %}
        </ul>
        <div class="auth-group">
            {% if user.is_authenticated %}
            <div class="auth">
                <a href="{% url "profile" %}">마이페이지</a>
            </div>
            <div class="auth">
                <a href="{% url "logout" %}?next={{ request.path }}">로그아웃 </a>
            </div>
            {% else %}
            <div class="auth">
                <a href="{% url "login" %}?next={{ request.path }}">로그인 </a>
            </div>
            <div class="auth">
                <a href="{% url "user_create_choice" %}">회원가입 </a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>



