{% load static %}
<nav class="navbar navbar-expand-xl navbar-dark navi-mobile navi-bg">
    <div class="navi-group">
        <button class="navbar-toggler menu" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{% static "images/hamburger.png" %}" width="40px">
        </button>
        <a class="logo" href="{% url "website:home" %}">
            <img src="{% static "images/logo.png" %}" height="40px">
        </a>
        <a class="search" href="#">
            <img src="{% static "images/search.png" %}" width="40px">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "concert:concert_list" %}">버스킹</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "artist_list" %}">아티스트</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "website:cs_create" %}">고객센터</a>
            </li>
        </ul>
        <div class="auth-group">
            {% if user.is_authenticated %}
            <div class="auth">
                <a href="{% url "profile" %}">{{ request.user.nickname }}님</a>
            </div>
            <div class="auth">
                <a href="{% url "logout" %}?next={{ request.path }}">로그아웃 </a>
            </div>
            {% else %}
            <div class="auth">
                <a href="{% url "login" %}?next={{ request.path }}">로그인 </a>
            </div>
            <div class="auth">
                <a href="{% url "user_create_choice" %}">회원가입 </a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>