<nav class="navbar navbar-expand-xl navbar-dark navi-mobile navi-bg">
  <div class="navi-group">
    <button class="navbar-toggler menu" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/media/main/hamburger.png" width="40px">
    </button>
    <a class="logo" href="#"><img src="/media/main/logo.png" height="40px"></a>
    <a class="search" href="#"><img src="/media/main/search.png" width="40px"></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarsExample06">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">버스킹</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">아티스트</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">고객센터</a>
      </li>
    </ul>
    <div class="auth-group">
      <div class="auth"><a href="#">로그인 </a></div>
      <div class="auth"><a href="#">회원가입 </a></div>
    </div>
  </div>
</nav>