<!-- 첫번째 섹션 사진, 영상 -->
<div class="photo_video row pt-3">
        <div class="col-6 detail-selector _selected"> 사진 </div>
        <div class="col-6 detail-selector"> 영상 </div>
        <div class="col-12">
            <div>사진 or 동영상 영역</div>
            <div>사진 or 동영상 리스트</div>
        </div>
</div>

<!-- 팀소개 회원가입시 입력한 간단한 소개 등장 -->
<div class="team_info row">
    <div class="detail-subtitle col-12">팀 소개</div>
    <div class="team_text col-12">간략한 소개</div>
</div>

<!-- 공연 일정 리스트 -->
<div class="performance_schedule row">
    <div class="col-12 detail-subtitle">공연일정</div>
    <div class="col-md-6 col-12">
        <div>공연 날짜, 장소<br>
            <button> 공연 자세히 보기</button>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div>공연 날짜, 장소<br>
            <button> 공연 자세히 보기</button>
        </div>
    </div>
    <div class="col-12">
        <div class="_more"> 공연일정 더보기+ </div>
    </div>
</div>

<!-- 리뷰 -->
<div class="artist_review row pb-3">
    <div class="col-12 detail-subtitle">후기</div>
    <div class="col-12 row">
        <div class="col-md-6 col-12 review-profile">리뷰 프로필 및</div>
        <div class="col-md-6 col-12 review-meta">댓글 좋아요 대댓글</div>
        <div class="col-12">댓글 내용</div>
    </div>
    <div class="col-12 row">
        <div class="col-md-6 col-12 review-profile">리뷰 프로필2 및</div>
        <div class="col-md-6 col-12 review-meta">댓글 좋아요 대댓글</div>
        <div class="col-12">댓글 내용2</div>
    </div>
    <div class="col-12">
        <div class="_more"> 리뷰 더보기 + </div>
    </div>
</div>