{% extends "base/base.html" %}
{% load static %}

{% block content %}
<!-- 타이틀 영역 -->
<div>
    {% include 'accounts/partials/profile/profile_update_artist_header.html' %}
</div>

<!-- 마이페이지 본문 -->

<div id="concert_create_grid" class="concert_create_grid">
    {% include 'accounts/partials/profile/profile_update_artist_body.html' %}
</div>

{% endblock %}
{% block extrajs %}
<script>
    $('#id_name').attr({'readonly': ''});
    $("#id_image").fileinput({
        uploadUrl: '{% url "artist_image_temp" %}',
        uploadExtraData: {user_id: {{ request.user.id }}},
        initialPreview: [
            {% if url_1 %}'<img src="{{ url_1.image.url }}" class="file-preview-image" width="100%" height="100%">'{% endif %},
            {% if url_2 %}'<img src="{{ url_2.image.url }}" class="file-preview-image" width="100%" height="100%">'{% endif %},
            {% if url_3 %}'<img src="{{ url_3.image.url }}" class="file-preview-image" width="100%" height="100%">'{% endif %},
            {% if url_4 %}'<img src="{{ url_4.image.url }}" class="file-preview-image" width="100%" height="100%">'{% endif %},
            {% if url_5 %}'<img src="{{ url_5.image.url }}" class="file-preview-image" width="100%" height="100%">'{% endif %},
        ],
        initialPreviewConfig: [
            {% if url_1 %}
            {
                width: '100%',
                extra: {id: {{ url_1.id }}}
            },
            {% endif %}
            {% if url_2 %}
            {
                width: '100%',
                extra: {id: {{ url_2.id }}}
            },
            {% endif %}
            {% if url_3 %}
            {
                width: '100%',
                extra: {id: {{ url_3.id }}}
            },
            {% endif %}
            {% if url_4 %}
            {
                width: '100%',
                extra: {id: {{ url_4.id }}}
            },
            {% endif %}
            {% if url_5 %}
            {
                width: '100%',
                extra: {id: {{ url_5.id }}}
            },
            {% endif %}
        ],
        deleteUrl: '{% url "artist_image_delete" %}',
        validateInitialCount: true,
        overwriteInitial: false,
        initialPreviewCount: {{ images_count }},
        required: true,
        showUpload: false,
        msgFilerequired: '사진을 선택해주세요',
        minFileCount: 1,
        maxFileCount: 5,
        msgFilesTooLess: '최소한 {n}장의 사진을 등록해야 합니다.',
        msgFilesTooMany: '사진이 {n}장 선택되었습니다. 사진은 최대 {m}장 까지 등록가능합니다.',
        allowedFileTypes: ['image'],
        msgInvalidFileType: '이미지 파일만 등록할 수 있습니다.',
    });
    $(function(){
        $("input[type='submit']").click(function(e){
            e.preventDefault();
            var $fileUpload = $("input[type='file']");
            var movie_1 = $("input[name='movie_1']").val();
            var movie_2 = $("input[name='movie_2']").val();
            var movie_3 = $("input[name='movie_3']").val();
            if (!movie_1 && !movie_2 && !movie_3){
                alert("영상 주소를 1개이상 등록해 주세요.");
            }
            if((movie_1 || movie_2 || movie_3)){
                $('button[title="Upload file"').trigger('click');
                while (true){
                    if(!$('button[title="Not uploaded yet"').length){
                        break;
                    }
                }
                $('#artist_update').submit();
            }
        });    
    });
</script>
{% endblock %}