{% load socialaccount %}
로그인


<form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit">
</form>

<h3>소셜 로그인</h3>
<ul>
    {% for provider in providers %}
        <li>
            {% if provider.social_app %}
                <a href="{% provider_login_url provider.id %}">
                    {{ provider.name }}
                </a>
            {% else %}
                <a>
                    Provider {{ provider.name }}설정이 필요합니다.
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<a href="{% url "password_reset" %}">비밀번호 찾기</a>
