{% extends "Base/Base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/Accounts/css/Mypage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/Accounts/css/Mypage_body.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/Accounts/css/Mypage_header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/Accounts/css/Mypage_buttons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/Accounts/css/Mypage_buttons_mobile.css' %}">


<!-- 타이틀 영역 -->
<div>
{% include './Mypage_header.html' %}
</div>

<!-- 마이페이지 본문 -->

<div class="row mypage-grid">
    <div class="col-12 _mobile">
        {% include './Mypage_buttons_mobile.html' %}
    </div>
    <div class="col-md-9 col-12 mobile-pd0">
        {% include './Mypage_body.html' %}
    </div>
<!--마이페이지 우측 버튼 -->
    <div class="col-md-3 col-12 _desktop">
        {% include './Mypage_buttons.html' %}
    </div>
</div>

{% endblock %}