<div class="row pt-4 pb-4 mypage-body">
    <div class="col-12 mypage-title">
        내가 찜한 내역
    </div>
    <!-- 두개 씩 제시하고 나머지는 더 보기에서 -->
    <div class="col-12 row pl-3">
        <div class="col-12 mypage-subtitle">
            공연
        </div>
        <div class="col-md-6 col-12 row">
            <div class="col-6">
                여기는 사진
            </div>
            <div class="col-6">
                아티스트 이름<br>
                공연 날짜<br>
                공연 장소
            </div>
        </div>
        <div class="col-md-6 col-12 row">
            <div class="col-6">
                여기는 사진
            </div>
            <div class="col-6">
                아티스트 이름<br>
                공연 날짜<br>
                공연 장소
            </div>
        </div>
        <div class="col-12 mypage-subtitle">
            아티스트
        </div>
        <div class="col-md-6 col-12 row">
            <div class="col-6">
                여기는 사진
            </div>
            <div class="col-6">
                아티스트 이름<br>
                팀소개
            </div>
        </div>
        <div class="col-md-6 col-12 row">
            <div class="col-6">
                여기는 사진
            </div>
            <div class="col-6">
                아티스트 이름<br>
                팀소개
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="_more txt-center mb-4"> 찜한 내역 더보기 + </div>
    </div>
    <div class="col-12 mypage-title">
        내가 썼던 후기
    </div>
    <div class="col-12 row">
        <div class="col-md-6 col-12 review-profile">리뷰 프로필</div>
        <div class="col-md-6 col-12 review-meta">댓글 좋아요 대댓글</div>
        <div class="col-12">댓글 내용</div>
    </div>
    <div class="col-12">
        <div class="_more txt-center mb-4"> 후기 더보기 + </div>
    </div>
    <div class="col-12 mypage-title">
        내가 전한 후원
    </div>
    <div class="col-12">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">날짜</th>
              <th scope="col">아티스트</th>
              <th scope="col">금액</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>18.07.21</td>
              <td>강구헌</td>
              <td>10,000</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-12">
        <div class="_more txt-center mb-4"> 후원 더보기 + </div>
    </div>
</div>