{% extends "Base/Base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/Accounts/css/Signup_choice.css' %}">

<div class="Signup_choice row">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="row mb-5">
                    <!-- 로고는 홈으로 연결 -->
                    <div class="col-12 Signup-title">
                        <img src="/media/main/logo-color.png">
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="Signup-audience">
                            <div class="outer Signup-caption">관객(일반) 회원가입</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="Signup-artist">
                            <div class="outer Signup-caption">아티스트 회원가입</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}