{% extends "Base/Base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/artist_detail/css/ArtistDetailPage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/artist_detail/css/ArtistDetailHeader.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/artist_detail/css/DetailArtistProfile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/artist_detail/css/DetailArtistProfile_mobile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/artist_detail/css/ArtistDetailbody.css' %}">

<!-- 타이틀 영역 -->
<div class="artist_detail_header">
{% include './ArtistDetailHeader.html' %}
</div>

<!-- 본문 영역 -->
<div class="row artist_detail mb-5">
    <div class="col-12 detail-mobile">
        {% include './DetailArtistProfile_mobile.html' %}
    </div>
    <div class="col-md-8 col-12 detail-info">
        {% include './ArtistDetailbody.html' %}
    </div>
    <div class="col-md-4 col-12 detail">
        {% include './DetailArtistProfile.html' %}
    </div>
</div>

<!-- 이곳부터 아티스트 -->
<div class="artist_list_grid">

</div>

{% endblock %}