<div class="recommend pt-5 pb-5">
    <div class="row">
        <div class="col-12 pb-3 txt-center mb_slide2_title">
            <div class="upper_sm_line line_blue"></div>
            <div class="upper_bg_line line_blue"></div>
            멋진 버스킹을 보셨나요?
        </div>
        <div class="col-12 txt-center mb_slide2_title_sub txt-pre">아티스트에게 응원의 말과, 후원을 전해보세요
아티스트의 감사 인사, 그리고 선물이 기다립니다!
        </div>
        <div class="col-12">
            <div class="mb_main_slide2_container">
                <div class="row">
                    <div class="col-sm txt-center">
                        길가다가 봤는데 너무 멋졌어요!<br>
                        리뷰쓰기
                    </div>
                    <div class="col-sm txt-center">
                        돈이 아깝지 않은 버스킹이었습니다!<br>
                        후원하기
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>