{% load bootstrap4 static %}

<div class="row my-5">
    <div class="col-12">
        <form action="" method="post">
            {% csrf_token %}
            <h4>날짜 및 시간</h4>
            <div class="row">
                {% bootstrap_field form.date show_label=False form_group_class='col-12 mb-4' %}
                {% bootstrap_field form.start_time show_label=False form_group_class='col-6' placeholder='공연 시작 시각' %}
                {% bootstrap_field form.end_time show_label=False form_group_class='col-6' placeholder='공연 종료 시각' %}
                <div class="col-12 mb-4">
                    <small>* 12:34 (24:00 기준) 형태로 입력해 주세요.</small>
                </div>
            </div>
            <h4>장소</h4>
            <div class="row">
                {% bootstrap_field form.location_1 show_label=False form_group_class='col-6 mb-4' %}
                {% bootstrap_field form.location_else show_label=False form_group_class='col-6 mb-4' placeholder='그외의 경우 입력해 주세요.' %}
            </div>
            {% bootstrap_field form.location_2 show_label=False form_group_class='col-12 mb-4' %}
            <h4>상세 정보</h4>
            <div class="row">
                {% bootstrap_field form.rain_cancel form_group_class='col-6 mb-4' %}
                {% bootstrap_field form.site_reserved form_group_class='col-6 mb-4' %}
            </div>
            <h4>간단한 공연 설명 (선택)</h4>
            {% bootstrap_field form.description show_label=False form_group_class='col-12 mb-4' %}
            <div class="txt-center">
                <input type="submit" value="등록" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
