{% load static %}
<div class="recommend">
    <div class="row">
        <div class="col-12 pb-3 txt-center mb_slide2_title">
            <div class="upper_sm_line line_blue"></div>
            <div class="upper_bg_line line_blue"></div>
            멋진 버스킹을 보셨나요?
        </div>
        <div class="col-12 txt-center mb_slide2_title_sub txt-pre mb-3">아티스트에게 응원의 말과, 후원을 전해보세요
아티스트의 감사 인사, 그리고 선물이 기다립니다!
        </div>
        <div class="col-12">
            <div class="mb_main_slide2_container">
                <div class="row mb-5">
                    <div class="col-sm txt-center rec_review">
                        <p class="rec_btn_label">길가다가 봤는데 너무 멋졌다면!</p>
                        <button class="btn mb_main_button rec_btn"><img src="{% static "images/btn1.png" %}"> 후기쓰기</button>
                    </div>
                    <div class="col-sm txt-center rec_payment">
                        <p class="rec_btn_label">돈이 아깝지 않은 버스킹이었다면!</p>
                        <button class="btn mb_main_button rec_btn"><img src="{% static "images/btn2.png" %}"> 후원하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>