.login{
    min-height : 750px;
    max-width  : 500px;
    margin : auto;
    text-align: center;
}
.navi {
    display : none;
}
.navi-mobile{
    display : none;
}

.mb_login_logo{
    max-width : 150px;
}

.login-row{
    padding-bottom : 10px;
}

.login-button{
    width : 100%;
}
.sign-up-button{
    width : 100%;
}

.social-naver {
    width : 100%;
    border-color : #2db400;
    color: #2db400;
    pointer-events : none;
}

.social-kakao {
    width : 100%;
    border-color : #3c1e1e;
    color : #3c1e1e;
    pointer-events : none;
}
.social-facebook {
    width : 100%;
    border-color : #4166b0;
    color : #4166b0;
    pointer-events : none;
}
.footer {
    display: none;
}