a {
    text-decoration : none;
}

a:hover{
    text-decoration: none;
}
.mobile-only {
    display: block;
}
.mobile-only-row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
@media (min-width: 576px) {
    .mobile-only {
        display: none;
    }
    .mobile-only-row {
        display: none;
    }
}

.mobile-none {
    display: none;
}
@media (min-width: 576px) {
    .mobile-none { 
        display: block;
    }
}
input[type='checkbox'] {
    display: none; 
}
.checkbox input[type='checkbox'] + label::before {
    content: ' ';
    display: inline-block; 
    width: 36px; 
    height: 36px;
    vertical-align: middle;
    margin: -5px 10px 0 0; 
    background: #009bfc;
}
.checkbox input[type='checkbox']:checked + label::before {
    background: url('/static/images/checked.png');
    background-position: 0 0;
}

.movie-wrapper {
    position: relative;
    padding: 2% 2% 56.25% 2%;
    width: 100%;
  }
.movie-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line-dotted {
    height: 1px;
    border-bottom: 1px dotted #d5d5d5;
}
.m-height-220 {
    min-height: 220px;
}
.max-height-280 img {
    max-height: 280px;
}
.btn-inside-form {
    position: relative;
}
.btn-inside-form input {
    width: 100%;
}
.btn-inside{
    position:absolute;
    right: 10px;
    top: 4px;
    border:none;
    height:20px;
    width:20px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
    background: none;
  }
  button:hover{
    cursor:pointer;
  }

.slider {
    width: 100%;
    max-height: 560px;
    position: relative;
    padding-top: 380px;
}
.slider>img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 380px;
}
.slider input[name='slide_switch'] {
    display: none;
}
.slider label {
    margin: 10px;
    float: left;
    cursor: pointer;
    opacity: 0.6;
}
.slider lable img {
    display: block;
}
.slider input[name='slide_switch']:checked+label {
    opacity: 1;
}
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}

.slider>.movie-wrapper-slider {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2% 2% 56.25% 2%;
    width: 100%;
}
.slider>.movie-wrapper-slider iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 380px;
}

.slider input[name='slide_switch'] {
    display: none;
}
.slider label {
    margin: 10px;
    float: left;
    cursor: pointer;
    opacity: 0.6;
}
.slider lable iframe {
    display: block;
}
.slider input[name='slide_switch']:checked+label {
    display: block;
}
.slider input[name='slide_switch'] ~ .movie-wrapper-slider {
    display: none;
}
.slider input[name='slide_switch']:checked+label+.movie-wrapper-slider{
    display: block;
}

/* base/style.css */
body {
	font-family: 'Nanum Gothic', sans-serif !important;
}

label {
    font-weight : bold;
}
/* 가운데 정렬 */
.outer {
    display: table;
    height: 100%;
    width: 95%;
    margin: auto;
   /* max-width: 1200px; */
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
}
.bottom {
    display : table-cell;
    vertical-align : bottom;
}
/* 강구헌이 자주쓰는 */

.row{
    padding : 0px;
    margin : 0px;

}

.txt-center{
    text-align : center;
}
.txt-right{
    text-align : right;
}
.txt-left{
    text-align : left;
}
.txt-pre{
    white-space : pre;
}
.txt-blue{
    color : #009bfc;
}
.txt-red{
    color: #ff0000;
}
.txt-black{
    color: #212529;
}
.txt-white{
    color: #fff;
}
.txt-sm{
    font-size: .5em;
}
.txt-smd{
    font-size: .8em;
}
.txt-md{
    font-size: 1em;
}
.txt-bold{
    font-weight: 600;
}
.mtb_auto{
    margin-top : auto;
    margin-bottom : auto;
}
.border-thead {
    border: 1px solid #ededed;
    background: #fafafa;
}
.answer-show-btn.show {
    display: block;
}
.answer-show-btn.none {
    display: none;
}
.answer-body {
    overflow: hidden;
    display: none;
  }

/* 꾸밈 선 */
.upper_sm_line{
    width : 70px;
    border-top : solid white 1px;
    padding-bottom : 7px;
    margin : auto;
}

.upper_bg_line{
    width : 140px;
    border-top : solid white 1px;
    margin : auto;
    padding-bottom : 15px;
}

.line_blue{
    border-top : solid #009bfc 1px;
}

/* 마이버스커 버튼 */

/* 주 버튼 - class btn과 함께 사용할 것 */
.mb_main_button{
    width : 230px;
    height : 70px;
    background : white;
    color : black;
    border-radius : 40px;
    font-family : 'Nanum Gothic', sans-serif;
    font-weight : bold;
}

.b_sha_blue{
    box-shadow: 0 50px 60px 0 #22a0e8;
}

.b_sha_gray{
    box-shadow: 0 50px 60px 0 #dedede;
}

.b_sha_lg_blue{
    box-shadow: 0 50px 60px 0 #007dc4;
}


@media(max-width : 780px){
    /* 모바일 버튼 크기 조정 */
    .mb_main_button{
        width: 220px;
        height : 66px;

    }
    .b_sha_blue{
        box-shadow: 0 20px 40px 0 #22a0e8;
    }

    .b_sha_gray{
        box-shadow: 0 20px 40px 0 #dedede;
    }

    .b_sha_lg_blue{
        box-shadow: 0 20px 40px 0 #007dc4;
    }

    /* 모바일 패딩 0 */
    .mb_pd_0{
        padding : 0
    }

    /* 모바일 텍스트 구현 */
    .mb_txt_pre{
        white-space : pre;
    }

}

/* base/nav.css */
@media (min-width: 0px) and (max-width: 996px){
	.navi{
		display: none;
	}
	.navi-mobile{
		display: block;
	}
}
@media (min-width: 997px){
	.navi{
		display: block;
	}
	.navi-mobile{
		display: none;
	}
}
/* 네비게이션 PC 버전 */
.navi{
    z-index: 100;
    width: 100%;
}
.navi a{
	color: rgb(0, 0, 0) !important;
	font-weight: bold;
	margin:0px 10px;
}
.navi .auth{
	color: rgb(39, 105, 129) !important;
	font-weight: bold;
	font-size: 14px;
	margin:0px 5px;
}
.navi .navbar-brand{
	    float: left;
}
/* 네비게이션 서치바 */
.navi .nav-search{
	height: 30px;
    background: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(39, 105, 129);
    font-weight: bold;
}
.navi .nav-search:focus{
	outline: none !important;
}
.navi .nav-search-btn{
    background: rgba(255,255,255,0);
    border: none;
    margin-left: 0px;
    cursor: pointer;
}
.navi .nav-search-btn:focus{
    outline: none;
}
.navi .nav-search-form{
	border-bottom: 2px solid rgb(39, 105, 129);
}

/* 네비게이션 모바일 버전 */
.navi-mobile{
	text-align: center;
	background: rgba(255, 255, 255);
	padding: 0px !important;
	position: fixed;
    z-index: 1;
    width: 100%;
    transition: 0.5s;
}
.navi-bg{
	background: rgba(255, 255, 255, 0);
	transition: 0.5s;
}
.navi-group{
	padding: .5rem 1rem;
}
.navi-mobile .menu{
	float: left;
	border:none;
	padding: 0px !important;
}
.navi-mobile .menu:focus{
	outline:none;
}
.navi-mobile .search{
	float: right;
}
.navi-mobile img{
	padding: 8px;
}

/* 모바일 메뉴 */
.navi-mobile .navi-white{
	background: rgb(255, 255, 255);
}
.navi-mobile .nav-link{
	color: rgb(0, 0, 0) !important;
	font-weight: bold;
	font-size: 18px;
	padding: 15px 0px;
}
.navi-mobile .navbar-collapse{
	/*background:rgb(255, 255, 255);*/
}	
.navi-mobile .auth-group{
	padding: 15px 0px;
	border-top: 1px solid rgb(200, 200, 200);
}
.navi-mobile .auth{
	width: 50%;
	float: left;
    padding-bottom: 15px;
    background: rgb(255, 255, 255);
}
.navi-mobile .auth a{
	font-size: 16px;
	font-weight:bold;
	text-align: center;
	color:rgb(39, 105, 129) !important;
	text-decoration: none;
}

/* base/footer */
.footer{
	width : 100%;
	background: rgb(50, 50, 50);
	color : rgb(200, 200, 200) !important;
}
.footer a{
	color : rgb(200, 200, 200) !important;
	text-decoration: none;
}
.modal-title{
    font-weight : bold;
    font-size : 20px;
}
/* main/process.css */
.w-70_slide3{
    width : 70%!important;
    margin:auto;
}
.Ractangle-4 {
    background-color: #eff4f6;
}

.mb_slide3_title{
    font-family: 'Nanum Square', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #009bfc;
    font-weight:300;
}
.mb_slide3_title_sub{
    font-size : 18px;
    color : #626262;
}
.mb_main_slide3_container{
    background : white;
    margin: auto;
    width: 165px;
    height: 165px;
    border-radius: 95px;
    margin-bottom: 30px;
    position:relative;
}
.mb_slide3_icons{
    width : 45%;
    margin-top : 25%
}
.mb_main_slide3_text{
    font-size : 20px;
    font-weight : bolder;
}
.slide3_sub_text{
    margin-top : 5px;
    color : #626262;
    font-size : 14px;
}

@media (max-width: 780px) {
        .mb_slide3_title{
            font-size : 30px;
        }
        .mb_main_slide3_container {
            width: 100px;
            height: 100px;
            border-radius: 65px;
        }

        .mb_slide3_title_sub{
            font-size : 15px;
        }

        .mb_main_slide3_text{
            font-size : 18px;
            margin-bottom : 5px;
    }
    .mb_main_carousel img {
        width: 100%;
    }
}
@media (max-width: 578px){
        .w-70_slide3{
            width : 100%!important;
            margin:auto;
        }
}

/* main/recommend.css */
.recommend{
    background : #ffffff;
    padding-top : 6rem;
    padding-bottom : 5rem;
}

.mb_slide2_title{
        font-family: 'Nanum Square', sans-serif;
        font-size: 40px;
        text-align: center;
        color: #009bfc;
        font-weight:300;
    }
.mb_slide2_title_sub{
    font-size:18px;
    font-weight:300;
}

.mb_main_slide2_container{
        max-width: 750px;
        margin : auto;
    }

.rec_btn_label{
    font-weight : bold;
}

.rec_btn{
    box-shadow: 0 50px 80px 0 rgba(222, 222, 222, 0.2);
    border: solid 1.5px #009bfc;
}
@media(max-width : 780px){
    .recommend{
        padding-top : 3.5rem;
        padding-bottom : 2rem;
    }
    .mb_slide2_title{
        font-size : 30px;
    }
    .mb_slide2_title_sub{
        font-size : 15px;
    }

    .rec_review{
        padding-bottom : 3rem;
    }
}

/* main/registration.css */
.registration{
	background-color: #FFF;
	height: 600px;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/static/images/foot-banner.png");
	font-family : 'Nanum Square', sans-serif;
}
.registration_title{
	font-size:40px;
	font-weight : 300;
}

.registration_text{
	font-family : 'Nanum Gothic', sans-serif;
	font-size:18px;
	font-weight : lighter;
}
@media(max-width : 780px){
    .registration{
        background-image: url("/static/images/m-foot-banner.png");
    }

	.registration_text{
		font-size : 15px;
	}
}

/* main/slider.css */
.slide1{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    top: 0px;
    background-image: url("/static/images/slide1.png");
    height: 620px;
    font-family : "Nanum Square", sans-serif;
}
.inner{
    color: #eee;
    text-align: center;
}
.carousel-indicators{
    position : initial;
    height: 50px;
    padding-top : 23px;
    margin-bottom : 0;
}
.mb_main_carousel{
    height: 400px;
}

.slider_title{
font-weight : 600;
text-shadow: 0 0 10px rgba(18, 101, 255, 0.8)
}

.ytp-button:not([aria-disabled=true]):not([disabled]):not([aria-hidden=true]) {
background: #FFF !important;
}
.ytp-large-play-button svg {
display: none !important;
}

/* account/_login.css */
.login{
    min-height : 750px;
    max-width  : 500px;
    margin : auto;
    text-align: center;
}

.mb_login_logo{
    max-width : 150px;
}

.login-row{
    padding-bottom : 10px;
}

.login-button{
    width : 100%;
}
.sign-up-button{
    width : 100%;
}

.social-naver {
    width : 100%;
    border-color : #2db400;
    color: #2db400;
}
.social-naver:hover {
    color: #fff !important;
    background-color: #2db400 !important;
}
.social-naver:focus, .social-naver.focus {
    box-shadow: 0 0 0 0.2rem rgba(45,180,0,0.5) !important;
}
.social-naver.disabled, .social-naver:disabled {
    color: #2db400 !important;
    background-color: #fff !important;
}
.social-naver:not(:disabled):not(.disabled):active, .social-naver:not(:disabled):not(.disabled).active {
    color: #fff !important;
    background-color: #2db400 !important;
}
.social-naver:not(:disabled):not(.disabled):active:focus, .social-naver:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(45,180,0,0.5) !important;
}
.social-kakao {
    width : 100%;
    border-color : #3c1e1e;
    color : #3c1e1e;
}
.social-kakao:hover {
    color: #fff !important;
    background-color: #3c1e1e !important;
}
.social-kakao:focus, .social-kakao.focus {
    box-shadow: 0 0 0 0.2rem rgba(60,30,30,0.5) !important;
}
.social-kakao.disabled, .social-kakao:disabled {
    color: #3c1e1e !important;
    background-color: #fff !important;
}
.social-kakao:not(:disabled):not(.disabled):active, .social-kakao:not(:disabled):not(.disabled).active {
    color: #fff !important;
    background-color: #3c1e1e !important;
}
.social-kakao:not(:disabled):not(.disabled):active:focus, .social-kakao:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(60,30,30,0.5) !important;
}
.social-facebook {
    width : 100%;
    border-color : #4166b0;
    color : #4166b0;
}
.social-facebook:hover {
    color: #fff !important;
    background-color: #4166b0 !important;
}
.social-facebook:focus, .social-facebook.focus {
    box-shadow: 0 0 0 0.2rem rgba(65,102,176,0.5) !important;
}
.social-facebook.disabled, .social-facebook:disabled {
    color: #4166b0 !important;
    background-color: #fff !important;
}
.social-facebook:not(:disabled):not(.disabled):active, .social-facebook:not(:disabled):not(.disabled).active {
    color: #fff !important;
    background-color: #4166b0 !important;
}
.social-facebook:not(:disabled):not(.disabled):active:focus, .social-facebook:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(65,102,176,0.5) !important;
}

/* accounts/signup_choice.css */
.Signup_choice{
    min-height : 800px;
    max-width : 1000px;
    text-align : center;
    margin : auto;
}

.Signup-title{
    padding-top : 3rem;
    padding-bottom : 3rem;
}

.Signup-audience{
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-image : url("/static/images/signup-img1@3x.png");
    min-height : 500px;
    border-right : 4px;
    line-height : 500px;
}
.Signup-artist{
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-image: url("/static/images/signup-img2@3x.png");
    min-height : 500px;
    border-left : 4px;
    line-height : 500px;
}

.Signup-caption{
    color : white;
    margin :  auto;
    vertical-align : middle;
    font-size : 25px;
    font-weight : bold;
}

@media(max-width : 780px){
    .Signup_choice{
        min-height : 500px;
        max-width : 320px;
        padding-bottom : 220px;
    }
    .Signup-audience{
        min-height : 180px;
        line-height : 180px;
        background-image: url("/static/images/m-signup-img1.png");
        border : 0;
        margin-bottom : 10px;
    }

    .Signup-artist{
        min-height : 180px;
        line-height : 180px;
        background-image: url("/static/images/m-signup-img2.png");
        border : 0;
    }

    .Signup-caption{
        font-size : 18px;
    }
}

/* account/signup_1.css */
.Signup_1{
    min-height : 750px;
    max-width  : 400px;
    margin : auto;
    text-align: center;
}

.Signup-title{
    padding-top : 3rem;
    padding-bottom : 3rem;
}

.Signup_form{
    margin-bottom: 5px;
}

.Signup_submit {
    padding-top : 15px;
    padding-bottom : 5px;
    width : 100%;
}

.Signup_submit input{
    width : 100%;
    padding-top : 10px;
    padding-bottom : 10px;
}

@media(max-width : 780px) {
    .Signup_1 {
        min-height: 500px;
        max-width: 320px;
        padding-bottom: 20px;
    }

    .Signup-agree {
        font-size : 15px;
    }
}

/* account/signup_2.css */
.Signup_2{
    min-height : 750px;
    max-width  : 400px;
    margin : auto;
    text-align: center;
}

.Signup-title{
    padding-top : 3rem;
    padding-bottom : 3rem;
}

.Signup_submit {
    padding-top : 15px;
    padding-bottom : 5px;
    width : 100%;
}

.Signup_submit input{
    width : 100%;
    padding-top : 10px;
    padding-bottom : 10px;
}

.Signup_form label{
    color : black;
}

@media(max-width : 780px) {
    .Signup_2 {
        min-height: 500px;
        max-width: 320px;
        padding-bottom: 20px;
    }

    .Signup-agree {
        font-size : 15px;
    }
}

/* accounts/signup_complete.css */
.signup-complete-outer{
    max-width : 350px;
    margin : auto;
}

.signup-complete-section{
    height : 750px;
}

.signup-complete-logo{
    margin-bottom : 2rem;
}

.signup-complete-title{
    font-size : 25px;
    font-family : "Nanum Gothic", sans-serif;
    font-weight : bold;
    margin-top: 2rem;
    padding-bottom : 2rem;
}
.signup-complete-img{
    max-width : 400px;
    margin :auto;
}

@media(max-width : 568px){
    .signup-complete-section{
        min-height : 600px;
        display : block;
        padding-top :2rem;
    }

}

/* accounts/mypage.css */
.mypage-grid{
    max-width : 1100px;
    margin : auto;
    margin-top : 2rem;
    margin-bottom : 3rem;
}

._mobile{
    display : none;
}

@media(max-width :780px){
    ._desktop{
        display : none;
    }

    ._mobile{
        display : block;
    }

    .mypage-grid{
        margin-top :0;;
    }
}

/* accounts/mypage_body.css */
.mypage-body{
    border : solid 1px #dedede;
    border-radius : 4px;
    padding-left : 10px;
    padding-right : 10px
}

.mypage-title{
    font-size : 18px;
    font-weight : bold;
    color : #0088ff;
    padding-bottom : 1rem;
}

.mypage-subtitle{
    font-size : 16px;
    font-weight : bold;
    padding-bottom : 5px;
}

._more{
    max-width : 460px;
    padding-top : 15px;
    padding-bottom : 15px;
    color : #707070;
    margin : auto;
    border: solid 1px #dedede;
    border-radius : 5px;
}

@media(max-width : 567px){
    .mypage-body{
        border-radius : 0;
        border-top : solid 1px #dedede;
        border-left : none;
        border-right : none;
        padding-left : 0;
        padding-right : 0;
    }
    .mobile-pd0{
        padding : 0;
    }
}

/* accounts/mypage_header.css */
.mypage-section{
    height : 310px;
    font-family : 'Nanum Gothic', sans-serif;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-image: url("../images/sub-top-bg.png");
    font-weight : bold;
}
.mb_sub_title{
    font-size : 30px;
    color: white;
}

.mypage_username{
    font-size :20px;
    color : white;
}

@media(max-width : 780px){
    .mypage-section{
        height : 264px;
    }
}

/* accounts/mypage_buttons.css */
.mypage_buttons{
    max-width : 260px;
    margin : auto;
    padding-top : 1rem;
    padding-bottom : 1rem;
    border : solid 1px #dedede;
    border-radius : 4px;
}

.mypage_buttons .col-12{
    padding-top : 15px;
    padding-bottom : 15px;
    font-size : 16px;
    font-weight : bold;
}

/* artist_list/_header.css */
.artist-list-section{
    height : 310px;
    font-family : 'Nanum Gothic', sans-serif;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-image: url("../images/sub-top-bg.png");
    font-weight : bold;
}
.artist-list-mb_sub_title{
    font-size : 30px;
    color: white;
}

@media(max-width : 780px){
    .artist-list-section{
        height : 264px;
    }
}

/* artist_list/_grid.css */
.artist_list_grid{
    max-width : 1140px;
    margin : auto;
}

/* artist_list/_filter.css */
.artist_list_filter{
    max-width : 1140px;
    margin : auto;
}

.mb_filter_menu{
    display : inline-flex;
    list-style : none;
    margin : auto;
    margin-bottom : 1rem;
}

.mb_filter_menu li{
    padding-left : 5px;
    padding-right : 5px;
    margin-right : 5px;
}

.mb_sub_search{
    margin : auto;
}
@media(max-width : 576px){
    .mb_filter_menu{
        padding-left: 0;
        text-align : center;
    }
}

}


/* artist_detail/artistdetailbody.css */
.detail-selector{
    font-size : 16px;
    font-weight : bold;
    border : solid 1px #dadada;
    border-radius : 4px;
    padding-top : 10px;
    padding-bottom : 10px;
    margin-top : 5px;
    cursor : pointer;
}

._selected{
    background-image: linear-gradient(82deg, #0088ff, #26a6ff);
    color : white;
}

.detail-subtitle{
    font-size : 18px;
    color : #0088ff;
    font-weight : bold;
    text-align : left;
    margin-bottom : 1rem;
}

.review-profile{
    text-align : left;
}
.review-meta{
    text-align : right;
}

@media(max-width : 780px){
    .review-meta{
        text-align : left;
    }
}

/* artist_detail/artistdetailheader.css */
.artist-detail-section{
    height : 310px;
    font-family : 'Nanum Gothic', sans-serif;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-image: url("../images/sub-top-bg.png");
    font-weight : bold;
}
.artist-detail-mb_sub_title{
    font-size : 20px;
    color: white;
    margin-bottom : 5px;
}

.artist_profile{
    height : 120px;
    width : 120px;
    background: white;
    border-radius : 80px;
    margin : auto;
    overflow: hidden;
}

.artist_stat{
    color : white;
}
@media(max-width : 780px){
    .artist-detail-section{
        height : 264px;
    }

    .artist_profile{
        height : 96px;
        width : 96px;
        overflow: hidden;
    }
}

/* artist_detail/artistdetailpage.css */
.artist_detail{
    max-width : 1100px;
    margin:auto;
    margin-top: 30px;
    text-align : center;
}

.detail-info{
    border : solid 1px #dedede;
    border-radius : 4px;
}

.detail {
    border-radius : 4px;
}
.detail-mobile{
    display : none;
}

@media(max-width : 780px){
    .detail{
        display :none;
    }

    .detail-mobile{
        display : inherit;
        padding : 0;
    }

    .artist_detail{
        margin-top:0;
    }
}

/* artist_detail/detailartistprofile_mobile.css */
.test{
    position:fixed;
    bottom : 0px;
    width : 100%;
    background : white;
    z-index : 100;
}

/* artist_detail/detailartistprofile.css */
.detail-right{
    max-width : 280px;
    border: solid 1px #dedede;
    margin : auto;
    border-radius : 5px;
    position : fixed;
}

.mb_action_btn{
    width : 100%;
    margin-top : 5px;
    margin-bottom : 5px;
}

.concert_create_grid{
    max-width: 700px;
    margin: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
.cs_body{
    max-width : 900px;
    margin : auto;
=======
=======
>>>>>>> 1824e45bfe6337ff812b1793324587a5a364afbd
/* payment/pamentbody.css */
.payment-body{
    max-width : 500px;
    margin : auto;
    margin-top : 20px;
}

.payment-artist-img{
    text-align : center;
    padding-bottom : 20px;
}

.payment-artist-img img{
    width : 100%;
}

.mb_blue{
    background : #0088ff;
    color : white;
}

/* payment/paymentcomplete.css */
.payment-complete-title{
    font-size : 30px;
    font-family : "Nanum Gothic", sans-serif;
    font-weight : bold;
    margin-top: 2rem;
    padding-bottom : 2rem;
}
@media(max-width : 568px){
    .payment-complete-title{
        font-size : 25px;
    }

}

/* payment/paymentheader.css */

.payment-name{
    padding-top : 15px;
    font-size : 30px;
    margin-bottom : 0px;
    color: white;
}

.payment-subtitle{
    padding-top : 5px;
    font-size : 20px;
    color : white;
<<<<<<< HEAD
>>>>>>> 1824e45bfe6337ff812b1793324587a5a364afbd
=======
>>>>>>> 1824e45bfe6337ff812b1793324587a5a364afbd
}