.artist_detail{
    max-width : 1100px;
    margin:auto;
    margin-top: 30px;
    text-align : center;
}

.detail-info{
    border : solid 1px #dedede;
    border-radius : 4px;
}

.detail {
    border-radius : 4px;
}
.detail-mobile{
    display : none;
}

._more{
    max-width : 460px;
    padding-top : 15px;
    padding-bottom : 15px;
    color : #707070;
    margin : auto;
    border: solid 1px #dedede;
    border-radius : 5px;
}

@media(max-width : 780px){
    .detail{
        display :none;
    }

    .detail-mobile{
        display : inherit;
        padding : 0;
    }

    .artist_detail{
        margin-top:0;
    }
}