.detail-right{
    max-width : 280px;
    border: solid 1px #dedede;
    margin : auto;
    border-radius : 5px;
    position : fixed;
}

.mb_action_btn{
    width : 100%;
    margin-top : 5px;
    margin-bottom : 5px;
}