.section{
    height : 310px;
    font-family : 'Nanum Gothic', sans-serif;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-image: url("/media/main/sub-top-bg.png");
    font-weight : bold;
}
.payment-name{
    padding-top : 15px;
    font-size : 30px;
    margin-bottom : 0px;
    color: white;
}

.payment-subtitle{
    padding-top : 5px;
    font-size : 20px;
    color : white;
}

@media(max-width : 780px){
    .section{
        height : 264px;
    }
}