{% extends "base/base.html" %}
{% load static %}

{% block content %}

<!-- 타이틀 영역 -->
<div class="artist_list_header">
    {% include 'concert/partials/concert_create/concert_create_header.html' %}
</div>

<!-- 이곳부터 아티스트 -->
<div id="concert_create_grid" class="concert_create_grid">
    {% include 'concert/partials/concert_create/concert_create_body.html' %}
</div>
{% endblock %}
{% block extrajs %}
<script>
    function else_text(value){
        console.log(value);
        if(value == '그외'){
            $('#id_location_else').val('');
            $('#id_location_else').attr({'readonly': false});
        }
        else{
            $('#id_location_else').attr({'readonly': true});
        }
    }
    $('#id_location_1').attr({'onchange': 'else_text(this.value)'});
    $('#id_location_2').attr({'style': 'display: none;'});
    $('#id_rain_cancel').addClass('row');
    $('#id_site_reserved').addClass('row');
    $('div.radio').addClass('col-6');
    $('#id_date').attr({'autocomplete': 'off'});
</script>
{% endblock %}