{% extends "base/base.html" %}
{% load static %}

{% block content %}

<!-- 타이틀 영역 -->
<div class="artist_detail_header">
{% include 'concert/partials/concert_detail/concert_detail_header.html' %}
</div>

<!-- 본문 영역 -->
<div class="row artist_detail mb-5">
    <div class="col-12 detail-mobile">
        {% include 'concert/partials/concert_detail/detail_concert_profile_mobile.html' %}
    </div>
    <div class="col-md-8 col-12 detail-info">
        {% if view == 'movie' %}
            {% include 'concert/partials/concert_detail/concert_detail_body_movie.html' %}
        {% elif view == 'image' %}
            {% include 'concert/partials/concert_detail/concert_detail_body_image.html' %}
        {% else %}
            {% include 'concert/partials/concert_detail/concert_detail_body.html' %}
        {% endif %}
    </div>
    <div class="col-md-4 col-12 detail">
        {% include 'concert/partials/concert_detail/detail_concert_profile.html' %}
    </div>
</div>

<!-- 이곳부터 아티스트 -->
<div class="artist_list_grid">

</div>

<div class="modal fade modal-form-modal-review" id="review_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal-title" id="exampleModalLabel">후기</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="review-modal-body" class="modal-body">
                {% include 'preference/review/review_create.html' %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-form-modal-answer" id="answer_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal-title" id="exampleModalLabel">답변</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="review-modal-body" class="modal-body">
                {% include 'preference/review/answer_create.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extrajs %}
<script>
    $('#id_location_2').attr({'style': 'display: none;'});
    $('#map-search').attr({'style': 'display: none;'});
    $(function() {
        $('.basket').click(function() {
            $.get($(this).attr('href'))
            .done(function(response) {
                alert(response.message)
            })
            .fail(function(response) {
                console.log('문제가 발생하였습니다. 다시 시도해 주세요.');
                console.log(response)
            });
            return false;
        });
    });
    $(function() {
        $('.like').click(function() {
            $.get($(this).attr('href'))
            .done(function(response) {
                alert(response.message);
                location.reload();
            })
            .fail(function(response) {
                console.log('문제가 발생하였습니다. 다시 시도해 주세요.');
                console.log(response)
            });
            return false;
        });
    });
    $(function() {
        $(document).on('click', '.modal-form-btn', function(e) {
            e.preventDefault();

            var action_url = $(this).attr('href');
            var target_id = $(this).data('target-id');

            $.get(action_url)
            .done(function(form_html) {
                var $modal = $('#review_create');

                $modal.find('.modal-body').html(form_html);
                $form = $modal.find('.modal-body form');
                $form.attr('action', action_url);

                if (target_id) {
                    $form.attr('data-target-id', target_id);
                }
                else {
                    $form.removeData('target-id');
                }

                $modal.on('shown.bs.modal', function(e) {
                    $(this).find('textarea:first').focus();
                });

                $modal.modal();
            })
            .fail(function(xhr, textStatus, error) {
                alert('failed : ' + error);
            });
        });

        $(document).on('submit', '.modal-form-modal-review form', function(e) {
            e.preventDefault();

            var $form = $(this);
            var $submit = $form.find('[type=submit]');

            $submit.prop('disabled', true);

            $form.ajaxSubmit({
                success: function(response, statusText, xhr, $form) {
                    window.location.reload();
                },
                error: function(xhr, textStatus, error) {
                    alert('failed : '+ error);
                },
                complete: function(xhr, textStatus) {
                    //$submit.prop('disabled', false);                    
                }
            });
        });
    });
    $(function() {
        $(document).on('click', '.modal-form-btn-answer', function(e) {
            e.preventDefault();

            var action_url = $(this).attr('href');
            var target_id = $(this).data('target-id');

            $.get(action_url)
            .done(function(form_html) {
                var $modal = $('#answer_create');

                $modal.find('.modal-body').html(form_html);
                $form = $modal.find('.modal-body form');
                $form.attr('action', action_url);

                if (target_id) {
                    $form.attr('data-target-id', target_id);
                }
                else {
                    $form.removeData('target-id');
                }

                $modal.on('shown.bs.modal', function(e) {
                    $(this).find('textarea:first').focus();
                });

                $modal.modal();
            })
            .fail(function(xhr, textStatus, error) {
                console.log(error, xhr);
                alert('failed : ' + error);
            });
        });

        $(document).ready(function(){
                var a = $('#1').attr('src');
                $('#main').attr('src', a);
            });

            $('.img_list').click(function(){
                var img = $(this).attr('src');
                $('#main').attr('src', img);
            });

        $(document).on('submit', '.modal-form-modal-answer form', function(e) {
            e.preventDefault();

            var $form = $(this);
            var $submit = $form.find('[type=submit]');

            $submit.prop('disabled', true);

            $form.ajaxSubmit({
                success: function(response, statusText, xhr, $form) {
                    window.location.reload();
                },
                error: function(xhr, textStatus, error) {
                    alert('failed : '+ error);
                },
                complete: function(xhr, textStatus) {
                    //$submit.prop('disabled', false);                    
                }
            });
        });
    });
</script>
{% endblock %}