{% extends "base/base.html" %}
{% load static %}

{% block nav %}
{% endblock %}
{% block content %}
<div class="signup-complete-outer signup-complete-section txt-center">
    <div class="middle">
        <div class="row">
            <div class="col-12 signup-complete-logo">
                <a href="{% url "website:home" %}"><img src="{% static "images/logo-color@2x.png" %}"></a>
            </div>
            <div class="col-12 signup-complete-img">
                <img class="w-100" src="{% static "images/note.png" %}">
            </div>
            <div class="col-12 signup-complete-title">
                공연정보등록이<br/>
                완료 되었습니다
            </div>
            <div class="col-12">
                <a href="{% url "website:home" %}">
                    <button class="btn btn-outline-primary w-100">
                        홈으로
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}