{% load bootstrap4 static %}
<div class="col-12 col-md-3 offset-md-9 txt-right pb-2">
    <ul class="mb_filter_menu mobile-font-sm">
        <li><a href="?sorted=time" {% if sorted == 'time' %}style="color:#009bfc;"{% endif %} class="txt-black time">시간순</a></li>
        <li>|</li>
        <li><a href="?sorted=rate" {% if sorted == 'rate' %}style="color:#009bfc;"{% endif %} class="txt-black rate">평점순</a></li>
    </ul>
</div>
<div class="row">
    {% for basket in basket_list %}
        <div class="col-12 col-md-4 txt-center mb-4">
            <a class="txt-black" href="{% url "artist_detail" basket.artist.id %}">
                <div class="img-list" style="background-image : url({{ basket.artist.image.url }})">

                </div>
                <div class="mt-3"><strong>{{ basket.artist.name }}</strong></div>
                <div class="mt-3 artist-list-des">{{ basket.artist.description }}</div>
                <div id="rate-{{ basket.id }}" class="mt-3"></div>
                <script>
                    for(var i=0; i < Math.round({{ basket.artist.rate_avg }}); i++){
                        document.getElementById('rate-{{ basket.id }}').innerHTML += '<img src="{% static "images/star-p.png" %}" width="12">'
                    }
                    if (Math.round({{ basket.artist.rate_avg }}) < 5){
                        for(var i=0; i< 5-Math.round({{ basket.artist.rate_avg }}); i++){
                            document.getElementById('rate-{{ basket.id }}').innerHTML += '<img src="{% static "images/star-n.png" %}" width="12">'
                        }
                    }
                </script>
            </a>
        </div>
    {% empty %}
        <div class="col-12 m-height-220 txt-center pt-5">
            아티스트가 없습니다.
        </div>
    {% endfor %}
</div>
<div class="row">
    <div style="margin: 0 auto;">
        {% bootstrap_pagination page_obj %}
    </div>
</div>