{% load static %}
<div class="row pt-5">
    <div class="col-12 col-md-6 mobile-txt-center">
        <ul class="mb_filter_menu view_choice mobile-font-sm">
            <li><a {% if request.path == '/accounts/artist/list/' %}style="color: #009bfc"{% endif %} class="txt-black" href="{% url "artist_list" %}">사진으로 보기</a></li>
            <li>|</li>
            <li><a {% if request.path == '/accounts/artist/list/movie/' %}style="color: #009bfc"{% endif %} class="txt-black" href="{% url "artist_list_movie" %}">영상으로 보기</a></li>
            {% if request.user.is_authenticated %}
            <li>|</li>
            <li><a {% if request.path == '/accounts/artist/list/basket/' %}style="color: #009bfc"{% endif %} class="txt-black" href="{% url "artist_list_basket" %}">찜한아티스트 보기</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-12 offset-md-2 col-md-4 pb-2 txt-right order-first order-md-last">
        <form action="" method="get">
            <div class="btn-inside-form">
                <input class="form-control mb_sub_search" type="text" placeholder="아티스트를 입력해주세요" name="q" value="{{ q }}">
                <button class="btn-inside"><img src="{% static "images/search.png" %}" width="16px"></button>
            </div>
        </form>
    </div>
</div>