<div class="row">
    {% for artist in artist_list %}
        <div class="col-12 col-md-4 txt-center mb-4">
            <a class="txt-black" href="{% url "artist_detail" artist.id %}">
                <div><img src="{{ artist.image.url }}" width="80%" alt=""></div>
                <div class="mt-3"><strong>{{ artist.name }}</strong></div>
                <div class="mt-3">{{ artist.description }}</div>
                <div id="rate-{{ artist.id }}" class="mt-3"></div>
                <script>
                    var star =''
                    for(var i=0; i < Math.round({{ artist.rate_avg }}); i++){
                        star += '★';
                    }
                    if (Math.round({{ artist.rate_avg }}) < 5){
                        for(var i=0; i< 5-Math.round({{ artist.rate_avg }}); i++){
                            star += '☆';
                        }
                    }
                    document.getElementById('rate-{{ artist.id }}').innerText = star
                </script>
            </a>
        </div>
    {% endfor %}
</div>
