{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {{ title }}
        </div>
        <div class="col-12">
            {{ author }}
        </div>
        <div class="col-12">
            {{ content }}
        </div>
    </div>


    {% for comment in comment %}
    <div class="my-1">
    {{ comment.author }} : {{ comment.content }} <br/>
    {{ comment.created_at }} <br/>
    </div>
    {% empty %}
        <p>코멘트가 없습니다.</p>

    {% endfor %}

    <div>
    <form action="{% url 'concert_post:comment_create' pk %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">작성</button>
    </form>
    </div>
{% endblock %}