{% extends "Base/Base.html" %}

{% block content %}
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static '/main/css/slider.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/main/css/recommend.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/main/css/process.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/main/css/registration.css'%}">

<div class="section Main" data-section-name="Main">
	{% include './Slider.html' %}
</div>
<div class="section Contents" data-section-name="Contents" style="background: #CCC">
	{% include './Recommend.html' %}
	{% include './Process.html' %}
	{% include './Registration.html' %}
</div>


<script src="{% static 'main/js/slider.js' %}"></script>
<script src="{% static 'base/js/scrollify.js' %}"></script>
<!--
<script>
	$(function() {
		$.scrollify({
			section : ".section",
		});
		$("a").on("click",$.scrollify.move);
	});
</script>
-->
{% endblock %}