<div class="row registration">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="upper_sm_line"></div>
                <div class="upper_bg_line"></div>
                <div class="registration_title">
                    아티스트라면?
                </div>
                <div class="registration_text pt-3 pb-5">
                    마이버스커와 함께한다면<br>
                    더 많은 팬과 더 많은 수익을 얻을 수 있습니다<br><br>
                    온&오프라인을 통합하는 아티스트 마케팅 솔루션<br>
                    마이버스커를 지금 경험해보세요
                </div>
                <div class="registration_button">
                    <button class="btn mb_main_button b_sha_lg_blue">
                        아티스트 회원가입하기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>