.mypage_buttons{
    max-width : 260px;
    margin : auto;
    padding-top : 1rem;
    padding-bottom : 1rem;
    border : solid 1px #dedede;
    border-radius : 4px;
}

.mypage_buttons .col-12{
    padding-top : 15px;
    padding-bottom : 15px;
    font-size : 16px;
    font-weight : bold;
}