.mypage-body{
    border : solid 1px #dedede;
    border-radius : 4px;
    padding-left : 10px;
    padding-right : 10px
}

.mypage-title{
    font-size : 18px;
    font-weight : bold;
    color : #0088ff;
    padding-bottom : 1rem;
}

.mypage-subtitle{
    font-size : 16px;
    font-weight : bold;
    padding-bottom : 5px;
}

._more{
    max-width : 460px;
    padding-top : 15px;
    padding-bottom : 15px;
    color : #707070;
    margin : auto;
    border: solid 1px #dedede;
    border-radius : 5px;
}

@media(max-width : 567px){
    .mypage-body{
        border-radius : 0;
        border-top : solid 1px #dedede;
        border-left : none;
        border-right : none;
        padding-left : 0;
        padding-right : 0;
    }
    .mobile-pd0{
        padding : 0;
    }
}