<div class="artist-list-section artist-list-mb_artist_list">
        <div class="outer">
            <div class="middle">
                <div class="inner txt-center pt-5">
                    <p class="artist-list-mb_sub_title">공연 상세 정보<br/>
                        <p class="concert-info">{{ concert.artist }}<br/>
                        {{ concert.date }} / {% if not concert.location_1 == '그외' %}{{ concert.location_1 }}{% else %}{{ concert.location_else }}{% endif %}에서</p>
                    </p>
                </div>
            </div>
        </div>
    </div>