{% load common static %}
<!-- 첫번째 섹션 사진, 영상 -->
<div class="photo_video row pt-3">
        <a href="{% url "concert:concert_detail" concert.id %}" class="txt-black col-4 detail-selector"> 공연장소 보기 </a>
        <a href="{% url "concert:concert_detail" concert.id %}?view=image" class="txt-black col-4 detail-selector"> 사진 </a>
        <a href="{% url "concert:concert_detail" concert.id %}?view=movie" class="txt-white col-4 detail-selector _selected"> 영상 </a>
        <div class="col-12 mt-1">
            <div class="slider">
                {% if concert.artist.movie_1 %}
                <input type="radio" name="slide_switch" id="1" checked>
                <label for="1">
                    <img src="http://img.youtube.com/vi/{{ concert.artist.movie_1|get_movie_id }}/0.jpg" alt="" width="100" height="100">
                </label>
                <div class="movie-wrapper-slider">
                    <iframe width="100%" height="100%" src="{{ concert.artist.movie_1 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                {% endif %}
                {% if concert.artist.movie_2 %}
                <input type="radio" name="slide_switch" id="2" {% if not concert.artist.movie_1 %}checked{% endif %}>
                <label for="2">
                    <img src="http://img.youtube.com/vi/{{ concert.artist.movie_2|get_movie_id }}/0.jpg" alt="" width="100" height="100">
                </label>
                <div class="movie-wrapper-slider">
                    <iframe width="100%" height="100%" src="{{ concert.artist.movie_2 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                {% endif %}
                {% if concert.artist.movie_3 %}
                <input type="radio" name="slide_switch" id="3" {% if not concert.artist.movie_1 and concert.artist.movie_2 %}checked{% endif %}>
                <label for="3">
                    <img src="http://img.youtube.com/vi/{{ concert.artist.movie_3|get_movie_id }}/0.jpg" alt="" width="100" height="100">
                </label>
                <div class="movie-wrapper-slider">
                    <iframe width="100%" height="100%" src="{{ concert.artist.movie_3 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- 팀소개 회원가입시 입력한 간단한 소개 등장 -->
<div class="team_info row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="txt-bold">아티스트의 한마디</p>
                <h2>{{ concert.description }}</h2>
            </div>
        </div>
    </div>
</div>

<!-- 공연 일정 리스트 -->
<div class="performance_schedule row mt-3">
    <div class="col-12 detail-subtitle">Set List</div>
    <table class="col-12">
        <thead class="border-thead">
            <th width="10%">No.</th>
            <th width="40%">곡명</th>
            <th width="50%">정보</th>
        </thead>
        <tbody>
            {% for song in song_list %}
            <tr class="line-dotted">
                <td>{{ forloop.counter }}</td>
                <td>{{ song.name }}</td>
                <td>{{ song.info }}</td>
            </tr>
            {% empty %}
            <tr class="line-dotted">
                <td colspan="3">공연곡 정보가 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- 리뷰 -->
<div class="artist_review row pb-3 mt-3">
    <div class="col-12 detail-subtitle">후기</div>
    {% for review in review_list %}
        <div class="col-12 mb-2">
            <div class="card">
                <div class="row card-header align-items-center pt-1 pb-1">
                    <div class="col-lg-8 col-12 txt-left {% if review.is_pay %}txt-blue{% endif %}">
                        {{ review.user_name }}{% if review.is_pay %} | 후원금액 : {{ review.amount }}원 {% endif %}<br/>
                        <span id="star-count-{{ review.id }}" class="txt-sm"></span>
                        <script>
                            var star =''
                            for(var i=0; i < {{ review.rate }}; i++){
                                document.getElementById('star-count-{{ review.id }}').innerHTML += '<img src="{% static "images/star-p.png" %}" width="12">'
                            }
                            if ({{ review.rate }} < 5){
                                for(var i=0; i< 5-{{ review.rate }}; i++){
                                    document.getElementById('star-count-{{ review.id }}').innerHTML += '<img src="{% static "images/star-n.png" %}" width="12">'
                                }
                            }
                        </script>
                    </div>
                    <div class="col-lg-4 col-12 txt-right mobile-txt-left">
                        {% if request.user.is_authenticated %}
                        <a id="answer-new-{{ review.id }}" class="modal-form-btn-answer txt-smd" href="{% url "preference:answer_create" review.id 4 %}" data-toggle="modal" data-target="#answer_create">댓글달기</a>
                        {% endif %}
                        <a class="btn btn-sm btn-secondary {% if request.user.is_authenticated %}like{% endif %}" href="{% if request.user.is_authenticated %}{% url "preference:like_create" review.id %}{% endif %}"><img src="{% static "images/thumb.png" %}" alt=""> {{ review.like_count }}</a>
                        <a id="answer-btn-{{ review.id }}" class="btn btn-sm btn-outline-secondary" href=""><img src="{% static "images/reply.png" %}" alt=""> {{ review.answer_set.all|length }}</a>
                    </div>
                </div>
                <div class="card-body py-0 txt-left">
                    {{ review.description }}<br/>
                    <span class="txt-sm">{{ review.regist_dt }} {{ review.artist.name }}의 공연</span>
                </div>
            </div>
            <div id="answer-{{ review.id }}" class="card answer-body">
                {% for answer in review.answer_set.all %}
                <div class="card-body">
                    &#10149; {{ answer.user.nickname }} : {{ answer.description }}
                </div>
                {% empty %}
                <div class="card-body txt-left">
                    답변이 없습니다.
                </div>
                {% endfor %}
            </div>
            <script src="{% static "plugins/jquery/jquery-3.3.1.min.js" %}"></script>
            <script>
                $('#answer-btn-{{ review.id }}').click(function(e) {
                    e.preventDefault();
                
                    var $this = $(this);
                    
                    if ($('#answer-{{ review.id }}').hasClass('show')) {
                        $('#answer-{{ review.id }}').removeClass('show');
                        $('#answer-{{ review.id }}').slideUp(350);
                    } else {
                        $('#answer-{{ review.id }}').removeClass('show');
                        $('#answer-{{ review.id }}').slideUp(350);
                        $('#answer-{{ review.id }}').toggleClass('show');
                        $('#answer-{{ review.id }}').slideToggle(350);
                    }
                    });
            </script>
        </div>
    {% empty %}
        <div class="col-12 mb-2 txt-center">
            후기가 없습니다.
        </div>
    {% endfor %}
    <div class="col-12">
        <a href="{% url "preference:artist_review" concert.artist.id %}">
            <div class="_more txt-black"> 리뷰 더보기 + </div>
        </a>
    </div>
</div>