{% load static %}
<!--
<div class="w-100 pt-3 pb-3 row">
    {% if concert.artist.social_fb %}
    <div class="col-4 mb-2">
        <a href="{{ concert.artist.social_fb }}" target="_blank">
            <img src="{% static "images/facebook.png" %}">
        </a>
    </div>
    {% endif %}
    {% if concert.artist.social_youtube %}
    <div class="col-4 mb-2">
        <a href="{{ concert.artist.social_youtube }}" target="_blank">
            <img src="{% static "images/youtube.png" %}">
        </a>
    </div>
    {% endif %}
    {% if concert.artist.social_insta %}
    <div class="col-4 mb-2">
        <a href="{{ concert.artist.social_insta }}" target="_blank">
            여기는 인스타
        </a>
    </div>
    {% endif %}
</div>
-->

<!-- 이부분 토글 버튼으로 처리 -->
<div class="test row">
    {% if request.user.is_authenticated %}
    <a class="col-4 pt-3 pb-3 basket artist-mobile-buttons btn-warning txt-bold" href="{% url "preference:basket_create_concert" concert.id %}">
        찜하기
    </a>
    <a id="review_btn" class="col-4 artist-mobile-buttons pt-3 pb-3 modal-form-btn btn-success txt-bold" href="{% url "preference:review_create" concert.artist.id %}" data-toggle="modal" data-target="#review_create">
        후기쓰기
    </a>
    {% else %}
    <a class="col-4 artist-mobile-buttons pt-3 pb-3 btn-warning txt-bold" href="{% url "login" %}">
        찜하기
    </a>
    <a class="col-4 artist-mobile-buttons pt-3 pb-3 btn-success txt-bold" href="{% url "login" %}">
        후기쓰기
    </a>
    {% endif %}
    <a class="col-4 artist-mobile-buttons pt-3 pb-3 btn-secondary txt-bold" href="https://qr.kakaopay.com/2810060110000919228448315dc03518" target="_blank">
        후원하기
    </a>
</div>

    <!-- PG사 연동 전 카카오페이 대체
    <a href="{% url "payment:sponsor_create" concert.artist.id %}">
    <a href="https://qr.kakaopay.com/2810060110000919228448315dc03518" target="_blank">
     -->