{% load static %}
<!-- 이부분 fixed로 해놨는데 자바스크립트로 scroll따라 부드럽게 움직이면 좋을듯! -->

<div class="detail-right pt-3 pb-3 row">
    {% if concert.artist.social_fb %}
    <div class="col-4 mb-2">
        <a href="{{ concert.artist.social_fb }}" target="_blank">
            <img src="{% static "images/facebook.png" %}">
        </a>
    </div>
    {% endif %}
    {% if concert.artist.social_youtube %}
    <div class="col-4 mb-2">
        <a href="{{ concert.artist.social_youtube }}" target="_blank">
            <img src="{% static "images/youtube.png" %}">
        </a>
    </div>
    {% endif %}
    {% if concert.artist.social_insta %}
    <div class="col-4 mb-2">
        <a href="{{ concert.artist.social_insta }}" target="_blank">
            여기는 인스타
        </a>
    </div>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="col-12">
        <a class="basket" href="{% url "preference:basket_create_concert" concert.id %}"><button class="btn btn-warning mb_action_btn">찜하기 </button></a>
    </div>
    <div class="col-12">
        <a id="review_btn" class="modal-form-btn" href="{% url "preference:review_create" concert.artist.id %}" data-toggle="modal" data-target="#review_create"><button class="btn btn-outline-primary mb_action_btn" data-toggle="modal" data-target="#review_create">후기쓰기 </button></a>
    </div>
    {% else %}
    <div class="col-12">
        <a href="{% url "login" %}"><button class="btn btn-warning mb_action_btn">찜하기 </button></a>
    </div>
    <div class="col-12">
        <a href="{% url "login" %}"><button class="btn btn-outline-primary mb_action_btn">후기쓰기 </button></a>
    </div>
    {% endif %}
    <div class="col-12">
        <a href="{% url "payment:sponsor_create" concert.artist.id %}"><button class="btn btn-outline-dark mb_action_btn">후원하기 </button></a>
    </div>
</div>