{% load bootstrap4 static %}

<div class="row my-5">
    <div class="col-12">
        <form id="artist_update" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>아티스트 이름</h4>
            {% bootstrap_field form.name form_group_class='col-12 mb-4' show_label=False placeholder='아티스트 이름' %}
            <h4>간단한 소개</h4>
            {% bootstrap_field form.description  form_group_class='col-12 mb-4' show_label=False placeholder='간단한 소개' %}
            <h4>사진 (최대 5장)</h4>
            <div class="col-12 p-0 w-100 txt-black mb-2 is-invalid">
                <div class="row bootstrap4-multi-input">
                    <div class="col-12">
                        <input type="file" name="image" multiple class="is-invalid" required id="id_image">
                    </div>
                </div>
            </div>
            <small><p class="font-weight-bold txt-red">* 삭제 버튼 클릭시 사진이 즉시 삭제됩니다.</p></small>
            <h4 class="mt-4">영상 (최대 3개)</h4>
            {% bootstrap_field form.movie_1 form_group_class='col-12 mb-1' show_label=False placeholder='youtube 영상주소 1' %}
            {% bootstrap_field form.movie_2 form_group_class='col-12 mb-1' show_label=False placeholder='youtube 영상주소 2' %}
            {% bootstrap_field form.movie_3 form_group_class='col-12 mb-4' show_label=False placeholder='youtube 영상주소 3' %}

            <h4>SNS 주소</h4>
            {% bootstrap_field form.social_fb form_group_class='col-12 mb-1' show_label=False placeholder='페이스북' %}
            {% bootstrap_field form.social_youtube form_group_class='col-12 mb-1' show_label=False placeholder='유튜브' %}
            {% bootstrap_field form.social_insta form_group_class='col-12 mb-4' show_label=False placeholder='인스타그램' %}
            <input type="hidden" value="{{ images_temp_id }}" name = "images_temp_id">

            <div class="txt-center">
                <input type="submit" value="변경하기" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
