{% load static humanize %}
<div class="row pt-4 pb-4 mypage-body">
    <div class="col-12 mypage-title">
        내가 찜한 내역
    </div>
    <!-- 두개 씩 제시하고 나머지는 더 보기에서 -->
    <div class="col-12 row pl-3">
        <div class="col-12 mypage-subtitle">
            공연
        </div>
        {% for basket in basket_concert %}
            <div class="col-md-6 col-12 row">
                <div class="col-6">
                    <a class="txt-black" href="{% url "concert:concert_detail" basket.concert.id %}">
                    <img src="{{ basket.concert.artist.image.url }}" width="100%" alt="">
                    </a>
                </div>
                <div class="col-6">
                    <a class="txt-black" href="{% url "concert:concert_detail" basket.concert.id %}">
                    {{ basket.concert.artist.name }}<br>
                    {{ basket.concert.date }}<br>
                    {{ basket.concert.location_1 }}
                    </a>
                </div>
            </div>
        {% empty %}
        <div class="row align-items-center m-height-220">
            <div class="col-12 txt-center">
                    찜한 공연이 없습니다.
            </div>
        </div>
        {% endfor %}
        <div class="col-12 mypage-subtitle">
            아티스트
        </div>
        {% for basket in basket_artist %}
        <div class="col-md-6 col-12 row">
            <div class="col-6">
                <a class="txt-black" href="{% url "artist_detail" basket.artist.id %}">
                <img src="{{ basket.artist.image.url }}" width="100%" alt="">
                </a>
            </div>
            <div class="col-6">
                <a class="txt-black" href="{% url "artist_detail" basket.artist.id %}">
                {{ basket.artist.name }}<br>
                {{ basket.artist.description }}
                </a>
            </div>
        </div>
        {% empty %}
        <div class="row align-items-center m-height-220">
            <div class="col-12 txt-center">
                    찜한 아티스트가 없습니다.
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-12 mt-3">
        <a href="{% url "preference:my_basket" %}">
            <div class="_more txt-center mb-4"> 찜한 내역 더보기 + </div>
        </a>
    </div>
    <div class="col-12 mypage-title">
        내가 썼던 후기
    </div>
    {% for review in review_list %}
        <div class="col-12 mb-2">
            <div class="card">
                <div class="row card-header align-items-center">
                    <div class="col-8 {% if review.is_pay %}txt-blue{% endif %}">
                        {{ review.user_name }}{% if review.is_pay %} | 후원금액 : {{ review.amount }}원 {% endif %}<br/>
                        <span id="star-count-{{ review.id }}" class="txt-sm"></span>
                        <script>
                            var star =''
                            for(var i=0; i < {{ review.rate }}; i++){
                                document.getElementById('star-count-{{ review.id }}').innerHTML += '<img src="{% static "images/star-p.png" %}" width="12">'
                            }
                            if ({{ review.rate }} < 5){
                                for(var i=0; i< 5-{{ review.rate }}; i++){
                                    document.getElementById('star-count-{{ review.id }}').innerHTML += '<img src="{% static "images/star-n.png" %}" width="12">'
                                }
                            }
                        </script>
                    </div>
                    <div class="col-4 txt-right">
                        <a id="answer-new-{{ review.id }}" class="modal-form-btn-answer txt-smd" href="{% url "preference:answer_create" review.id 1 %}" data-toggle="modal" data-target="#answer_create">댓글달기</a>
                        <a class="btn btn-sm btn-secondary like" href="{% url "preference:like_create" review.id %}"><img src="{% static "images/thumb.png" %}" alt=""> {{ review.like_count }}</a>
                        <a id="answer-btn-{{ review.id }}" class="btn btn-sm btn-outline-secondary" href=""><img src="{% static "images/reply.png" %}" alt=""> {{ review.answer_set.all|length }}</a>
                    </div>
                </div>
                <div class="card-body py-0">
                    {{ review.description }}<br/>
                    <span class="txt-sm">{{ review.regist_dt }} {{ review.artist.name }}의 공연</span>
                </div>
            </div>
            <div id="answer-{{ review.id }}" class="card answer-body">
                {% for answer in review.answer_set.all %}
                <div class="card-body">
                    &#10149; {{ answer.user.nickname }} : {{ answer.description }}
                </div>
                {% empty %}
                <div class="card-body">
                    답변이 없습니다.
                </div>
                {% endfor %}
            </div>
            <script src="{% static "plugins/jquery/jquery-3.3.1.min.js" %}"></script>
            <script>
                $('#answer-btn-{{ review.id }}').click(function(e) {
                    e.preventDefault();
                
                    var $this = $(this);
                    
                    if ($('#answer-{{ review.id }}').hasClass('show')) {
                        $('#answer-{{ review.id }}').removeClass('show');
                        $('#answer-{{ review.id }}').slideUp(350);
                    } else {
                        $('#answer-{{ review.id }}').removeClass('show');
                        $('#answer-{{ review.id }}').slideUp(350);
                        $('#answer-{{ review.id }}').toggleClass('show');
                        $('#answer-{{ review.id }}').slideToggle(350);
                    }
                    });
            </script>
        </div>
    {% empty %}
        <div class="col-12 mb-2 txt-center">
            후기가 없습니다.
        </div>
    {% endfor %}
    <div class="col-12">
        <a href="{% url "preference:my_review" %}">
            <div class="_more txt-center mb-4"> 후기 더보기 + </div>
        </a>
    </div>
    <div class="col-12 mypage-title">
        내가 전한 후원
    </div>
    <div class="col-12">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">날짜</th>
              <th scope="col">아티스트</th>
              <th scope="col">금액</th>
            </tr>
          </thead>
          <tbody>
            {% for sponsor in sponsor_list %}
            <tr>
              <td>{{ sponsor.regist_dt|date:"Y.m.d" }}</td>
              <td>{{ sponsor.artist.name }}</td>
              <td>{{ sponsor.amount|intcomma }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">전한 후원이 없습니다</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col-12">
        <a href="{% url "payment:sponsor_list" %}">
            <div class="_more txt-center mb-4"> 후원 더보기 + </div>
        </a>
    </div>
</div>