<div class="artist-detail-section mb_artist_list">
    <div class="outer">
        <div class="middle">
            <div class="inner txt-center pt-5">
                <div class="artist_profile mt-3 mb-3" style="background-image: url({{ user.artist.image.url }})">

                </div>
                <p class="artist-detail-mb_sub_title">{{ user.artist.name }}</p>
                <p class="artist_stat"> 작성된 리뷰수 : {% if reviewed_count %}{{ reviewed_count }}{% else %}0{% endif %} </p>
            </div>
        </div>
    </div>
</div>