<div>
    <a href="{% url "artist_detail" artist.id %}">
        <div class="py-5 txt-center" style="background: #f1c40f;">
            <h2 class="txt-black">아티스트 더 알아보기</h2>
            <p class="txt-black">이 아티스트 궁금하지 않으신가요?</p>
        </div>
    </a>
    {% if request.user.is_authenticated %}
    <a id="review_btn" class="modal-form-btn" href="{% url "preference:review_create" artist.id %}" data-toggle="modal" data-target="#review_create">
        <div class="py-5 txt-center" style="background: #73b2dc;">
            <h2 class="txt-black">리뷰쓰기</h2>
            <p class="txt-black">멋진 공연을 위해 노력한 아티스트에게<br/>
            응원의 한마디는 큰 힘이됩니다!</p>
        </div>
    </a>
    {% else %}
    <a href="{% url "login"%}">
        <div class="py-5 txt-center" style="background: #73b2dc;">
            <h2 class="txt-black">리뷰쓰기</h2>
            <p class="txt-black">멋진 공연을 위해 노력한 아티스트에게<br/>
            응원의 한마디는 큰 힘이됩니다!</p>
        </div>
    </a>
    {% endif %}
    <a href="{% url "payment:sponsor_create" artist.id %}">
        <div class="py-5 txt-center" style="background: #deb7ed;">
            <h2 class="txt-black">후원하기</h2>
            <p class="txt-black">아티스트에게 후원과 응원의 메세지를 전하고<br/>
            감사 인사 & 리액션을 받아보세요!</p>
        </div>
    </a>
</div>