.artist_list_filter{
    max-width : 1140px;
    margin : auto;
}

.mb_filter_menu{
    display : inline-flex;
    list-style : none;
    margin : auto;
}

.mb_filter_menu li{
    padding-left : 5px;
    padding-right : 5px;
    margin-right : 5px;
}

.mb_sub_search{
    max-width : 350px;
    margin : auto;
}

.view_choice{

}

.arits