<form class="form-group row payment-body">
    <div class="col-12 payment-artist-img">
        <img src="/media/main/m-signup-img1@2x.png"><br>
        아티스트 사진 들어감
    </div>
    <div class="col-12">
        <label for="payment-name">후원자 이름</label>
        <input id="payment-name" class="form-control mb-3" placeholder="누구라고 전해드릴까요?" required>
    </div>
    <!-- 기본 3,000원이 선택될 수 있게 -->
    <div class="col-12">
        <label for="payment-price">금액</label>
        <select id="payment-price" class="form-control mb-3">
            <option> 1,000원</option>
            <option> 3,000원</option>
            <option> 5,000원</option>
            <option> 10,000원</option>
        </select>
    </div>
    <div class="col-12">
        <label for="payment-review">함께 전할 메세지(선택)</label>
        <textarea id="payment-review" class="form-control mb-3" rows="3" placeholder="함께 전할 메시지가 있나요?"></textarea>
    </div>
    <div class="col-12">
        <label for="payment-method">결제수단</label>
        <select id="payment-method" class="form-control mb-3">
            <option> 카카오페이 </option>
            <option> 카드결제</option>
        </select>
    </div>
    <div class="col-12 pt-4 txt-center">
        <button class="btn mb_main_button mb_blue mb-3" type="submit">결제하기</button><br>
        구매조건을 확인하였으며 <a href="#">결제 대행 서비스 약관</a>에<br>동의하여 결제를 진행합니다.
    </div>
</form>