{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="payment_header">
    {% include 'payment/partials/payment/payment_header.html' %}
</div>

<div class="mb-5">
    {% include 'payment/partials/payment/payment_body.html' %}
</div>

{% endblock %}
{% block extrajs %}
<script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
$('#sponsor_create_btn').on('click',(function(e) {
        e.preventDefault();
        var $form = $('#sponsor_create_form');
        var params = {
            pg : $form.find('[name=pay_type]').val(),
            name: '{{ artist.name }}',
            amount: $form.find('[name=amount]').val(),
            merchant_uid: '{{ merchant_uid }}',
            buyer_email: '{{ email }}',
            buyer_name: $form.find('[name=user_name]').val(),
            merchant_uid: '{{ merchant_uid }}'
        };

        IMP.init('{{ iamport_shop_id }}');

        IMP.request_pay(params, function(response_data) {
            console.log('response_data :', response_data);

            if ( ! response_data.success ) {
                alert(response_data.error_msg + "(" + response_data.error_code + ")");
                location.href = '{% url "website:home" %}';
            }
            else {
                $.each(response_data, function(key, value) {
                    $form.find("input[name=" + key + "]").val(value);
                });

                $form.submit();
            }
        });
    }));
</script>
{% endblock %}