{% load static %}
<div class="w-100 pt-3 pb-3 row">
    {% if artist.social_fb %}
    <div class="col-4 mb-2">
        <a href="{{ artist.social_fb }}" target="_blank">
            <img src="{% static "images/facebook.png" %}">
        </a>
    </div>
    {% endif %}
    {% if artist.social_youtube %}
    <div class="col-4 mb-2">
        <a href="{{ artist.social_youtube }}" target="_blank">
            <img src="{% static "images/youtube.png" %}">
        </a>
    </div>
    {% endif %}
    {% if artist.social_insta %}
    <div class="col-4 mb-2">
        <a href="{{ artist.social_insta }}" target="_blank">
            여기는 인스타
        </a>
    </div>
    {% endif %}
</div>

<!-- 이부분 토글 버튼으로 처리 -->
<div class="test row pt-3 pb-3">
    {% if request.user.is_authenticated %}
    <a class="col-4 txt-black basket" href="{% url "preference:basket_create_artist" artist.id %}">
        찜하기
    </a>
    <a id="review_btn" class="col-4 txt-black modal-form-btn" href="{% url "preference:review_create" artist.id %}" data-toggle="modal" data-target="#review_create">
        후기쓰기
    </a>
    {% else %}
    <a class="col-4 txt-black" href="{% url "login" %}">
        찜하기
    </a>
    <a class="col-4 txt-black" href="{% url "login" %}">
        후기쓰기
    </a>
    {% endif %}
    <a class="col-4 txt-black" href="{% url "payment:sponsor_create" artist.id %}">
        후원하기
    </a>
</div>