{% extends "Base/Base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/artist_list/css/artist_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/artist_list/css/_header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/artist_list/css/_filter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/artist_list/css/_grid.css' %}">

<!-- 타이틀 영역 -->
<div class="artist_list_header">
{% include './ArtistListHeader.html' %}
</div>

<!-- 필터 영역 -->
<div class="artist_list_filter">
{%  include './ArtistListFilter.html' %}
</div>

<!-- 이곳부터 아티스트 -->
<div class="artist_list_grid">
{% include './ArtistListGrid.html' %}
</div>

{% endblock %}