@media (min-width: 0px) and (max-width: 996px){
	.navi{
		display: none;
	}
	.navi-mobile{
		display: block;
	}
}
@media (min-width: 997px){
	.navi{
		display: block;
	}
	.navi-mobile{
		display: none;
	}
}
/* 네비게이션 PC 버전 */
.navi{
    z-index: 100;
    width: 100%;
}
.navi a{
	color: rgb(0, 0, 0) !important;
	font-weight: bold;
	margin:0px 10px;
}
.navi .auth{
	color: rgb(39, 105, 129) !important;
	font-weight: bold;
	font-size: 14px;
	margin:0px 5px;
}
.navi .navbar-brand{
	    float: left;
}
/* 네비게이션 서치바 */
.navi .nav-search{
	height: 30px;
    background: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(39, 105, 129);
    font-weight: bold;
}
.navi .nav-search:focus{
	outline: none !important;
}
.navi .nav-search-btn{
    background: rgba(255,255,255,0);
    border: none;
    margin-left: 0px;
    cursor: pointer;
}
.navi .nav-search-btn:focus{
    outline: none;
}
.navi .nav-search-form{
	border-bottom: 2px solid rgb(39, 105, 129);
}

/* 네비게이션 모바일 버전 */
.navi-mobile{
	text-align: center;
	background: rgba(255, 255, 255);
	padding: 0px !important;
	position: fixed;
    z-index: 1;
    width: 100%;
    transition: 0.5s;
}
.navi-bg{
	background: rgba(255, 255, 255, 0);
	transition: 0.5s;
}
.navi-group{
	padding: .5rem 1rem;
}
.navi-mobile .menu{
	float: left;
	border:none;
	padding: 0px !important;
}
.navi-mobile .menu:focus{
	outline:none;
}
.navi-mobile .search{
	float: right;
}
.navi-mobile img{
	padding: 8px;
}

/* 모바일 메뉴 */
.navi-mobile .navi-white{
	background: rgb(255, 255, 255);
}
.navi-mobile .nav-link{
	color: rgb(0, 0, 0) !important;
	font-weight: bold;
	font-size: 18px;
	padding: 15px 0px;
}
.navi-mobile .navbar-collapse{
	/*background:rgb(255, 255, 255);*/
}	
.navi-mobile .auth-group{
	padding: 15px 0px;
	border-top: 1px solid rgb(200, 200, 200);
}
.navi-mobile .auth{
	width: 50%;
	float: left;
    padding-bottom: 15px;
    background: rgb(255, 255, 255);
}
.navi-mobile .auth a{
	font-size: 16px;
	font-weight:bold;
	text-align: center;
	color:rgb(39, 105, 129) !important;
	text-decoration: none;
}